.modal-body {
  position: relative;
  z-index: 20;

  width: 37.5%;
  background-color: #1C1C21;

  border-radius: 40px;
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;

  width: 24px;
  height: 24px;

  background-color: transparent;

  border: none;
}

.close::before,
.close::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 49%;

  width: 2px;
  height: 20px;

  background-color: rgb(255, 255, 255);

  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}