.button {
  display: flex;
  text-decoration: none;
  color: var(--text-primary-color);
}

.button:hover {
  color: white;
  cursor: pointer;
}

.button__text {
  color: rgba(133, 133, 173, 1);
}

.button__text_active {
  color: white;
}