.container {

    padding: 0;
    width: 320px;

    list-style: none;
}

.item {
    display: flex;
}

.item:hover {
    opacity: 0.6;
}

.link {
    width: 100%;

    text-decoration: none;
}

.button {
    text-align: start;
    border: none;
    background-color: inherit;
}
.active {
    color: #ffffff;
}

.text {
    max-width: 320px;
}