.ingredients {
  margin-left: 0;
  margin-top: 0;
  min-width: 600px;
  min-height: 600px;
  
  list-style: none;
  border: 1px, solid, transparent;
}

.fillings {
  margin: 0;
  padding: 0;
  max-height: 425px;
  min-height: 425px;
  
  list-style: none;
  overflow-y: scroll;
}

.filling {
  display: flex;
  align-items: center;
}

.fillings::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}
.fillings::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.constructor__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}