.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__attributes {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}



.value {
    text-align: center;
}